@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }


  @media screen and (max-width: 600px) {
    div.rounded-lg:nth-child(1) {
      height: 75px;
    }

    div.rounded-lg:nth-child(3) {
      margin-top: -150px;
      height: 140px;
    }

    div.relative:nth-child(2) {
      margin-top: -80px;
      height: 80px;
    }

    div.relative:nth-child(4) {
      height: 190px;
    }

    div.rounded-lg:nth-child(5) {
      margin-top: -145px;
      height: 150px;
    }

    div.relative:nth-child(6) {
      height: 96px;
    }

    div.relative:nth-child(7) {
      margin-top: -225px;
      height: 210px;
    }

    div.relative:nth-child(8) {
      height: 216px;
    }

    div.relative:nth-child(9) {
      height: 100px;
      margin-top: -100px;
    }
  }


  @media screen and (min-width: 600px) {
    div.relative:nth-child(7) {
      margin-top: -440px;
    }

    div.relative:nth-child(8) {
      margin-top: 60px;
    }

    div.rounded-lg:nth-child(3)>img:nth-child(1) {
      height: 134%;
    }

    div.relative:nth-child(2) {
      margin-top: -130px;
    }

    div.rounded-lg:nth-child(3) {
      margin-top: -100px;
      height: 550px;
    }

    div.rounded-lg:nth-child(5) {
      height: 552px;
      margin-top: -90px;
    }

    div.relative:nth-child(6) {
      margin-top: 10px;
    }

    div.rounded-lg:nth-child(5)>img:nth-child(1) {
      margin-top: -70px;
    }

    div.relative:nth-child(9) {
      height: 368px;
      margin-top: -17px;
    }

  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}


@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,200..900;1,6..96,200..900&display=swap');

.bodoni-moda {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
  color: #227a9f;
}

.headline-underline-wave {
  position: relative;
  display: inline-block;
  font-size: 24px;
}

.headline-underline-wave::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #227a9f;
  border-radius: 2px;
  transform-origin: bottom;
  animation: wave-animation 3s linear infinite;
}

@keyframes wave-animation {
  0% {
    transform: translateX(-20%) rotate(-2deg);
  }

  50% {
    transform: translateX(20%) rotate(2deg);
  }

  100% {
    transform: translateX(-20%) rotate(-2deg);
  }
}